/*VARIABLES*/
@import './misc/variables';

/*GLOBALS*/
@import './misc/normalize';
@import './misc/mixins';

/*PARTIALS*/
@import './partials/header';
@import './partials/footers';

/*VIEWS*/
@import'./views/home';
@import'./views/contacto';
@import'./views/catalogo';
@import'./views/productos';
@import'./views/servicios';





