// contacto

.main3 {
    display: flex;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
}
.maps {
    display: flex;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 10px 10px 10px;
}
@media screen and (max-width: 992px) {
    .main3 {
        display: flex;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .maps {
        display: flex;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media screen and (max-width: 768px) {

// formulario de contacto
    .form {
        font-size: 15px;
    }

// maps
    .maps {
        width: auto
    }
}
