/* carousel */

.carousel {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 2/3;
}

/* Cominezo del main */

.main1 {
    @include flex();
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    .section {
        grid-row: 3/4;
        margin: 10px 20px 10px 20px;
        padding: 10px 20px 10px 20px; 
        .margen { 
        grid-column: 2/3;
        grid-row: 3/4;
        font-size: 20px;
        margin: 0%;
        padding: 0%;}
        text-align: justify;
        }    
}

div {
    transition: width 10s;
}

.picture1 {
    min-width: 300px;
    grid-column: 3 /4;
    grid-row: 3 /4;
    align-items: center;
    justify-content: center;
    display: grid;
}
@media screen and (max-width: 992px) {
    .main1 {
        @include flex();
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        .section {
            grid-row: 3/4;
            margin: 10px 20px 10px 20px;
            padding: 10px 20px 10px 20px; 
            .margen { 
            grid-column: 1/2;
            grid-row: 3/4;
            font-size: 20px;
            margin: 0%;
            padding: 0%;}
            text-align: justify;
            }    
    }
    .carousel {
        grid-column: 1/3;
        grid-row: 2/3;
        padding: 5px;
    }
    .picture1 {
        grid-column: 2/3;
    }
}
@media screen and (max-width: 768px) {
    .navbar-toggler {
        background-color: #fff;
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    main .section .margen { 
        display: flex;
        align-items: center;
        flex-direction: column;
        grid-column: 2/3;
        grid-row: 3/4;
        font-size: 20px;
        margin: 0%;
        padding: 0%;
    }
}