/* Comienzo del Footer */

.footer {
    display: grid;
    grid-gap: 5px;
    background-color: hsl(0, 0%, 82%);
    grid-column: 1/5;
    grid-row: 4/5;
    grid-template-columns: 480px 480px 480px;
    grid-template-rows: 50px 50px 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100vw;
    .text {
        font-size: 25px;
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .copy {
        grid-column: 2/3;
        grid-row: 3/4;
        font-size: 15px;
    }
    .sociales {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
        .face {
            grid-column: 3/4;
            grid-row: 1/2;
            text-align: right;
            padding: 10px;
        }
        .insta {
            grid-column: 3/4;
            grid-row: 2/3;
            text-align: right;
            padding: 10px;
        }
        .twr {
            grid-column: 3/4;
            grid-row: 3/4;
            text-align: right;
            padding: 10px;
        }
    }
    .tel {
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: left;
        font-size: 15px;
    }
    .mail {
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: left;
        font-size: 15px;
    }
    .direc {
        grid-column: 1/2;
        grid-row: 3/4;
        text-align: left;
        font-size: 15px;
    }
    a {
        color: black;
    }
}
@media screen and (max-width: 992px) {
    .footer {
        @include flex($direction: column);
        grid-column: 1/3;
        grid-row: 4/5;
        font-size: 8px;
        width: auto;
        .sociales {
            display: flex;
            flex-direction: row;
        }
    }
}
@media screen and (max-width: 768px) {

    .footer {
        @include flex($direction: column);
        grid-column: 2/3;
        grid-row: 4/5;
        font-size: 8px;
        .sociales {
            display: flex;
            flex-direction: row;
        }
    }
}