body {
    header {
        background-color: #D1D1D1;
        grid-column-start: 1;
        grid-column-end: 5;
        padding-right: 0;
        width: 100vw;
        &.container-fluid {
            padding-right: 0;
        }
        .navbar {
            min-height: 10vh;
            justify-content: space-between;
            align-items: center;
            padding: 0 2rem;
            background-color: transparent !important;
            ul {
                list-style-type: none;
                font-size: 1.7rem;
                color: inherit;
                &.navbar-nav {
                    margin-left: auto;
                }
                .nav-item .nav-link {
                    grid-column-start: 2;
                    grid-column-end: 4;
                    color: #1D333C;
                    padding: 1rem;
                    &-active{
                        @extend .nav-link;
                        color:azure;
                    }
                }
            }
        }
    }        
}

/*Menu-Menu de Hamburguesa*/

.navbar {
    grid-column: 3 /4;
    flex-basis: 500%;
    text-decoration: none;
    font-size: 1.7rem;
    color: inherit;
    display: flex;
    color: #fff;
    justify-content: space-between;
}
.nav-item {
    padding: 1rem;
    .nav-link {
        color: #fff;
    }
}
@media screen and (max-width: 992px) {
    body {
        display: grid;
        .header {
            grid-column: 1/3;
            grid-row: 1/2;
            .navbar {
                .logo {
                    width: 75%;
                }
                button {
                    color: #fff;
                    background-color: #fff;
                    .navbar-toggler {
                        background-color: #fff;
                        grid-column: 2/3;
                        grid-row: 2/3;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    body {
        display: inline-block;
        .header {
            grid-column: 2/3;
            grid-row: 1/2;
            .navbar {
                grid-column: 2 /3;
                grid-row: 2 /3;
                .logo {
                    width: 75%;
                }
                button {
                    color: #fff;
                    background-color: #fff;
                    .navbar-toggler {
                        background-color: #fff;
                        grid-column: 2/3;
                        grid-row: 2/3;
                    }
                }
            }
        }
    }
}
